<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HRPortalTestSuite">
    <test name="LoginTest">
        <classes>
            <class name="HRPortalLoginTest"/>
        </classes>
    </test>
    <test name="InviteEmployeeTest">
        <classes>
            <class name="InviteemployeeTest"/>
        </classes>
    </test>
</suite>
